<div class="container">
  <div class="image"></div>
  <h1>{{ title | uppercase }}</h1>

  <input type="text" placeholder="Your task" />

  <div class="box">
    <ul>
      <li><input type="checkbox" />tache 2</li>
      <li><input type="checkbox" />tache 2</li>
      <li><input type="checkbox" />tache 2</li>
      <li><input type="checkbox" />tache 2</li>
      <li><input type="checkbox" />tache 2</li>
    </ul>
    <nav>
      <li>items left</li>
      <li>All</li>
      <li>Active</li>
      <li>Completed</li>
      <li>Clear Completed</li>
    </nav>
  </div>
</div>
Drag and drop to reorder list
<footer>Challenge by Frontend Mentor. Coded by Your Name Here.</footer>
